.table{
    margin: auto;
    width: 80%;
    background-color: aqua;
    text-align: center;
}

.cart{
    margin: 5%;
    padding: 1%;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    border-radius: 16px;
    height: 100%;
    min-width: 30%;
    max-width: 100%;
}

.cart .main{
    margin: auto;
    align-self: center;
    width: 90%;
    height: 60%;
}

.cart .main > div{
    display: inline-block;
}

.cart .date{
    margin: auto;
    /*align-self: end;*/
    float: right;
    width: 60%;
    height: 20%;
}